.bg-dark {
  background-color: rgb(21, 43, 68) !important;
  filter: drop-shadow(0px 4px 4px #000000);
}

.navbar {
  padding: 0;
}

.logo {
  margin-left: 10px;
}

.logo-img {
  margin-left: 10px;
  height: 40px;
}

.nav-item {
  color: rgb(161, 161, 167);
}

.nav-link {
  padding: 0;
}
.menu-right {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.nav-item {
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(161, 161, 167);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
